<section>
  <p *ngFor="let item of [].constructor(10); let i = index"> {{ i }} </p>
  <p> Something </p>
  <p *ngFor="let thing of test"> {{ thing }} </p>
  <!-- div>
    <div class="row">
      <div class="column">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <!-- img src="assets/img/wn/{{ num }}.jpg" *ngFor="let num of nums" >
      </div>
      <div class="column">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <div *ngFor="let in of counter(5); let i = index">
          <img src="assets/img/wn/{{ i }}.JPG">
        </div>
      </div>
      <div class="column">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
      </div>
      <div class="column">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
        <img src="https://source.unsplash.com/random">
      </div>
    </div>
  </div -->
</section>
