<!-- app-nav-bar></app-nav-bar -->

<app-hero></app-hero>
<div class="content" role="main">
  <app-event></app-event>

  <div class="row">
    <div class="column">
      <img *ngFor="let item of [].constructor(9); let i = index" src="assets/img/wn/{{ i }}.JPG">
    </div>
    <div class="column">
      <img *ngFor="let item of [].constructor(9); let i = index" src="assets/img/wn/{{ i + 9}}.JPG">
    </div>
    <div class="column">
      <img *ngFor="let item of [].constructor(8); let i = index" src="assets/img/wn/{{ i + 18}}.JPG">
    </div>
    <div class="column">
      <img *ngFor="let item of [].constructor(9); let i = index" src="assets/img/wn/{{ i + 26}}.JPG">
    </div>
  </div>

  <!-- app-photos></app-photos -->
  <!-- app-pics></app-pics -->
</div>
